.alert-box {
  background-color: skyblue;
  padding: 20px;
  color: white;
  border-radius: 5px;
  display: none;
}

.close {
  float: right;
  border: 0;
  background-color: inherit;
  color: white;
}
